#contato .social ul li{ list-style-type: none; display: inline; padding-left: 15px;	padding-right: 10px;}
#contato .social ul li a img{  background-size: cover; background-position: center center;border-radius: 50%;box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);}
#c1{margin-top: 34px;}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.card-image img{
  height: 300px;
}

.buttons-group {
  align-items: center;
}
