#contato .social ul li {
  list-style-type: none;
  display: inline;
  padding-left: 15px;
  padding-right: 10px;
}

#contato .social ul li a img {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

#c1 {
  margin-top: 34px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.teste {
  height: 250px;
}

.card-image img {
  height: 300px;
}

.card-action {
  align-items: center;
}

.buttons-group {
  align-items: center;
}

#icones {
  margin-left: 23px;
}

#revealNome {
  margin-left: 8%;
}

#revealNomeA {
  margin-left: 6%;
}

#revealNomeF {
  margin-left: 2%;
}

#emailContato {
  margin-left: 13px;
  font-size: 20px;
  text-decoration: underline;
}

.cardFadeIn {
  opacity: 0;
}